<h1 class="ui header">Kaffeetrinken&Kuchenessen AG, Jena</h1>

<div class="ui divider"></div>
<div class="ui two column padded grid">
  <div class="column">
    <p>Das ist der ABProjekt</p>

    <p>Ich bin ein kleiner Blindtext. Und zwar schon so lange ich denken kann.
      Es war nicht leicht zu verstehen, was es bedeutet, ein blinder Text zu sein:
      Man macht keinen Sinn. Wirklich keinen Sinn. Man wird zusammenhangslos eingeschoben
      und rumgedreht – und oftmals gar nicht erst gelesen.</p>
    <p>Aber bin ich allein deshalb
      ein schlechterer Text als andere? Na gut, ich werde nie in den Bestsellerlisten
      stehen. Aber andere Texte schaffen das auch nicht. Und darum stört es mich nicht
      besonders blind zu sein. </p>
    <p>Und sollten Sie diese Zeilen noch immer lesen, so habe
      ich als kleiner Blindtext etwas geschafft, wovon all die richtigen und wichtigen
      Texte meist nur träumen. Dieser text hat eigentlich gar keinen wirklichen inhalt.
      Aber er hat auch keine relevanz, und deswegen ist das egal. Er dient lediglich als platzhalter.
    </p>
    <a routerLink="../produkte" class="ui fluid positive button">
      Produktenliste ansehen
      <i class="right arrow icon"></i>
    </a>
  </div>
  <div class="column">

    <p>Hier soll der Besucher einige Infos über die Seite erhalten</p>
    <p>Ich bin ein kleiner Blindtext. Und zwar schon so lange ich denken kann.
      Es war nicht leicht zu verstehen, was es bedeutet, ein blinder Text zu sein:
      Man macht keinen Sinn. Wirklich keinen Sinn. Man wird zusammenhangslos eingeschoben
      und rumgedreht – und oftmals gar nicht erst gelesen.</p>
    <p>Aber bin ich allein deshalb
      ein schlechterer Text als andere? Na gut, ich werde nie in den Bestsellerlisten
      stehen. Aber andere Texte schaffen das auch nicht. Und darum stört es mich nicht
      besonders blind zu sein. </p>
    <p>Und sollten Sie diese Zeilen noch immer lesen, so habe
      ich als kleiner Blindtext etwas geschafft, wovon all die richtigen und wichtigen
      Texte meist nur träumen. Dieser text hat eigentlich gar keinen wirklichen inhalt.
      Aber er hat auch keine relevanz, und deswegen ist das egal. Er dient lediglich als platzhalter.
    </p>


    <a routerLink="../leistungen" class="ui fluid positive button">
      Leistungenliste ansehen
      <i class="right arrow icon"></i>
    </a>
  </div>
</div>

<!--

  <button class="fluid ui button">Fits container</button>
  <button class="positive ui button">Positive Button</button>

  <a routerLink="../produkte" class="ui red button">
    Produktenliste ansehen
    <i class="right arrow icon"></i>
    </a>
-->